.vs/
Architecture_1.API/bin/
Architecture_1.API/obj/
Architecture_1.BusinessLogic/bin/
Architecture_1.BusinessLogic/obj/
Architecture_1.Infrastructure/bin/
Architecture_1.Infrastructure/obj/
Architecture_1.DataAccess/bin/
Architecture_1.DataAccess/obj/
Architecture_1.Common/bin/
Architecture_1.Common/obj/