.vs/
AccountService.API/bin/
AccountService.API/obj/
AccountService.BusinessLogic/bin/
AccountService.BusinessLogic/obj/
AccountService.Infrastructure/bin/
AccountService.Infrastructure/obj/
AccountService.DataAccess/bin/
AccountService.DataAccess/obj/
AccountService.Common/bin/
AccountService.Common/obj/


**/ffmpeg/bin/*.exe
**/ffmpeg/bin/ffmpeg
**/ffmpeg/bin/ffplay
**/ffmpeg/bin/ffprobe
**/ffmpeg/

nhap backend\account-service  123123123123\AccountService
git rm -r --cached "nhap backend/account-service  123123123123/AccountService.API/obj"
git rm -r --cached "nhap backend/account-service  123123123123/AccountService.API/bin"
git rm -r --cached "nhap backend/account-service  123123123123/AccountService.BusinessLogic/obj"
git rm -r --cached "nhap backend/account-service  123123123123/AccountService.BusinessLogic/bin"
git rm -r --cached "nhap backend/account-service  123123123123/AccountService.Common/obj"
git rm -r --cached "nhap backend/account-service  123123123123/AccountService.Common/bin"
git rm -r --cached "nhap backend/account-service  123123123123/AccountService.DataAccess/obj"
git rm -r --cached "nhap backend/account-service  123123123123/AccountService.DataAccess/bin"
git rm -r --cached "nhap backend/account-service  123123123123/AccountService.Infrastructure/obj"
git rm -r --cached "nhap backend/account-service  123123123123/AccountService.Infrastructure/bin"

